       body{
           background-color: ivory;
           font-family: sans-serif;
           margin: 0;
           padding: 0;
           text-decoration: lightslategrey;
           align-content: center;
       }
       nav{
           background-color: aqua;
           display: flex;
           justify-content: center;
           align-items: center;
           padding: 3px 0 3px 0;
           position: sticky;
           top: 0;
           z-index: 100 ;
       }
       nav ul{
           display: inline-flex;
           list-style-type: none;
       }
       nav ul li{
           margin: 20px 30px;
       }
       nav li a{
          text-decoration: none;
          font-size: 20px;
          font-weight: bold;
          color: dimgrey;
          padding: 10px 20px;
          border-radius: 50px;
       }
       nav ul li a:hover{
           background-color:midnightblue;
           color: floralwhite;
       }
       h2{
          font-size: xx-large;
       }
       h4{
          color: black;
          font-weight: lighter;
       }
       /*div{*/
       /*   background-color: darkslategrey;*/
       /*   height: 100px;*/
       /*}*/
       .white{
          background-color: springgreen;
          height: 100px;
       }
       .brown{
          background-color: aqua;
          height: 100px;
       }
       .black {
           background-color: gold;
           height: 200px;
       }
       #one{
           background-color: blueviolet;
           height: 130px;
           color: antiquewhite;
       }
      #two{
          background-color: brown;
          height: 100px;
          color: whitesmoke;
      }


      .background-image{
           background-image: url("https://cdn.pixabay.com/photo/2016/04/19/13/22/hospital-1338585_640.jpg");
           background-size: cover ;
           background-position: center;
         height: 600px;
         border-radius: 20px ;
         margin: 20px;
       }
     /*div{*/
     /*    background-color: darkslategrey;*/
     /*    height: 300px;*/
     /*}*/
     .one{
    background-color: blueviolet;
    height: 150px ;
    }
     .two{
    background-color: darkslategrey;
    height: 200px ;
    }
     .three{
    background-color: burlywood;
    height: 150px ;
    }
     .four{
    background-color: midnightblue;
         height: 300px ;
    }

     .image-one img{
         width: 375px;
        height: 50vh;
        margin: 10px;
     }